<document></document> 内の文章は、ミーティングを文字起こししたものです。

<document>
${document}
</document>

ドキュメントを元に、以下のタスクを実行して下さい。

<task>

1. 会議を要約し、文脈に沿ったアジェンダを作成して下さい。
2. アジェンダ毎に以下に沿って詳細を作成して下さい。
  ## アジェンダ名
  <文章の全文>

  ### ポイント
  <セクションのポイント>: <解説>

3. <文章の全文>を記述する際は、可能な限り文章をそのまま抜き出し、日本語に翻訳して下さい。
4. <セクションのポイント>を記述する際、そのセクションのポイントと解説を箇条書きで記述して下さい。

</task>